{% extends 'ProyectoWebApp/base.html' %}
{% load static %}

{% block content %}

    {% for post in posteos %}
        <section class="page-section clearfix">
            <div class="container-fluid">
                <div class="d-flex justify-content-xl-center">
                    <div class="col-6 d-flex justify-content-xl-center">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" >
                    </div>
                    <div class="intro-text text-center bg-faded col-4 rounded">
                        <h2 class="section-heading" >
                            <span class="section-heading-lower">{{post.titulo}}</span>
                            <br>
                            <span class="section-heading-upper">{{post.contenido}}</span>
                        </h2>
                        <div style="text-align:left; font-size: 0.8em;">
                            <p>Autor: {{post.autor}}</p>
                        </div>
                        <div style="text-align:left; font-size: 0.8em;">
                            <p>Categoria: {{post.categorias}}</p>
                        </div>
                        
                        
                    </div>
                    
                    
                </div>
            </div>
        </section>
    {% endfor %}
    <section>
        <div style="width:75%; background-color: #294c54; color: #b8c4c4; margin: auto; text-align: center;">
            {% for post in posteos %}
                {% for categoria in post.categorias.all %}
                    Categorías: {{categoria.nombre}}
                {% endfor %}
            {% endfor %}
 
        </div>
    
    </section>
    <br>
{% endblock %}
