{% extends 'ProyectoWebApp/base.html' %}
{% load static %}

{% block content %}

    {% for servicio in servicios %}
        <section class="page-section clearfix">
            <div class="container-fluid">
                <div class="d-flex justify-content-xl-center">
                    <div class="col-6 d-flex justify-content-xl-center">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" >
                    </div>
                    <div class="intro-text text-center bg-faded col-4 rounded d-flex justify-content-xl-center">
                        <h2 class="section-heading" >
                            <span class="section-heading-lower">{{servicio.titulo}}</span>
                            <br>
                            <span class="section-heading-upper">{{servicio.contenido}}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
